<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd"><!DOCTYPE html>
<html>
 <head>
   <title>About</title>
   <link rel="stylesheet" href="/static/styles/mystyle.css">
 </head>
<body>
  <ul>
  <!-- Navigation Bar -->
  <li class = "nav_bar_li"><a href="/home">Home</a></li>
  <li class = "nav_bar_li"><a href="/about">About</a></li>
  <li class = "nav_bar_li"><a href="/photo_gallery">Photo Gallery</a></li>
  <li class = "nav_bar_li"><a href="/register">Register</a></li>
  <li class = "nav_bar_li"><a href="/login">Log in</a></li>
  <li class = "nav_bar_li"><a href="/handle_data?service=logout">Sign out</a></li>
  <li class ="nav_bar_li"><h3>{{signedinas}}</h3></li>
  </ul>

      <br>
      <h1>About Page</h1>
      <p>My name is Sairam Soundararajan and I am a University of Maryland Global Campus
      student majoring in Computer Science. Aside from my academic interests, I also enjoy
      composing music, singing, rapping, and playing the piano/keyboard. I also
      strongly believe in spirituality in my hindu culture. I feel like my spirituality
      guides me in my daily life, especially mentally. I enjoy sports such as baseball, basketball,
      badminton, tennis, archery(bows and arrows), and bowling. I enjoy watching dance performances
      such as Bharatanatyam(South Indian Classical Dance), street dance, ballet, many forms of modern dance,
      and doing dances like foxtrot, tango, jitterbug, and any romantic dances. I want to be with a girl who is kind,
      nonjudgemental, spirited, funny, amiable, honest, caring, and receptive. I want her to like me for
      who I am as person morally, not what my achilles heel or conditions are.</p>

      <h3>Favorite Movies</h3>
      <ol>
          <li>If I Stay</li>
          <li>The Best of Me</li>
          <li>Dance Academy: The Comeback</li>
          <li>Kiss & Cry</li>
          <li>Raising The Bar</li>
          <li>Sharkboy and Lavagirl</li>
          <li>Twilight</li>
          <li>Divergent</li>
      </ol>

      <h3>Favorite Foods</h3>
      <ol>
          <li>Cheese Pizza</li>
          <li>Garlic Bread w/ Marinara Sauce</li>
          <li>Vegetarian Pasta with Cheese and Veggies</li>
          <li>Gobi Matar with Chappati or Paratha</li>
          <li>Veg Pulao</li>
          <li>Macaroni Pizza</li>
          <li>Crispy Brownies</li>
          <li>Blondies</li>
          <li>Vegatable Pot Pie</li>
          <li>Vegetarian Burrito w/ Guacamole</li>
      </ol>

      <h3>Favorite Places To Go</h3>
      <ol>
          <li>Potbellies</li>
          <li>Dave and Busters</li>
          <li>California Pizza Kitchen</li>
          <li>AMC Theaters in Rio</li>
          <li>Dance Place</li>
          <li>Strathmore</li>
          <li>Kennedy Center</li>
          <li>Karaoke Bar</li>
          <li>County Fair</li>
          <li>Concerts</li>
          <li>Plays</li>
          <li>Park</li>
      </ol>

      <h1>Favorites Table</h1>

<table style="width:400px">
  <tr>
    <th>Hobbies</th>
    <th>Sports</th>
    <th>Amusement Parks</th>
  </tr>
  <tr>
    <td>Composing Music</td>
    <td>Basketball</td>
    <td>Six Flags</td>
  </tr>
  <tr>
    <td>Dancing</td>
    <td>Baseball</td>
    <td>Kings Dominion</td>
  </tr>
  <tr>
    <td>Playing Sports</td>
    <td>Tennis</td>
    <td>Hershey's Park</td>
  </tr>
  <tr>
    <td>Performing at Parties</td>
    <td>Archery</td>
    <td>Adventure Park USA</td>
  </tr>

</table>

      <h3>Follow Me on These Links!!!</h3>
      <o>
          <li> <a href = "https://www.facebook.com/profile.php?id=1686757596">Facebook</a> </li>
          <li> <a href = "https://www.instagram.com/sairamsoundararajan/">Instagram</a> </li>
          <li> <a href = "https://sairams.weebly.com/">My Music Page</a></li>
          <li> <a href = "https://soundcloud.com/sairam-soundararajan">SoundCloud</a></li>
      </o>
</body>
</html>