<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html>
 <head>
   <title>Lab 6: Sairam's Home Page</title>
   <link rel="stylesheet" href="/static/styles/mystyle.css">
 </head>
<body>
  <ul>
  <!-- Navigation Bar -->
  <li class = "nav_bar_li"><a href="/home">Home</a></li>
  <li class = "nav_bar_li"><a href="/about">About</a></li>
  <li class = "nav_bar_li"><a href="/photo_gallery">Photo Gallery</a></li>
  </ul>

      <h1>Home Page</h1>
      <h2>Welcome to Sairam's Page!!! Get To Know Who I Am!</h2>
      <img src="/static/images/sairam_main.jpg" alt="Sairam Portrait" style="width:500px;height:600px;">


</body>
<footer>
   <p>{{timestamp}}</p>
</footer>
</html>