<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE html>
<html>
 <head>
   <title>Photo Gallery</title>
   <link rel="stylesheet" href="/static/styles/mystyle.css">
 </head>
<body>
  <!-- Navigation Bar -->
  <ul>
  <li class = "nav_bar_li"><a href="/home">Home</a></li>
  <li class = "nav_bar_li"><a href="/about">About</a></li>
  <li class = "nav_bar_li"><a href="/photo_gallery">Photo Gallery</a></li>
  </ul>


      <h1>Photo Gallery</h1>
      <h3>Sairam and All-State Choir Friends</h3>
      <img src="/static/images/sairam and allstate friends.jpg" style="width:300px;height:400px;">
      <h3>Sairam at All-State 2</h3>
      <img src="/static/images/sairam_caleb_daniel.jpg" style="width:360px;height:400px;">
      <h3>Sairam and Kimberly </h3>
      <img src="/static/images/sairam_kimberly.jpg" style="width:360px;height:400px;">
      <h3>Sairam, Madison, and Claire </h3>
      <img src="/static/images/sairam_madison_claire.jpg" style="width:360px;height:400px;">
      <h3>Sairam Playing Piano </h3>
      <img src="/static/images/sairam_piano.jpg" style="width:300px;height:400px;">
      <h3>Sairam at the Chess Board </h3>
      <img src="/static/images/sairam_chess.jpg" style="width:500px;height:400px;">
      <h3>Sairam and Ebony </h3>
      <img src="/static/images/sairam_ebony.jpg" style="width:300px;height:400px;">
      <h3>Sairam at Shakespeare Place 1 </h3>
      <img src="/static/images/sairam_shakespeare1.jpg" style="width:200px;height:400px;">
      <h3>Sairam at Shakespeare Place 2 </h3>
      <img src="/static/images/sairam_shakespeare2.jpg" style="width:430px;height:400px;">
      <h3>Sairam at Skaespeare Place 3 </h3>
      <img src="/static/images/sairam_shakespeare3.jpg" style="width:430px;height:400px;">
      <h3>Sairam Portrait 1 </h3>
      <img src="/static/images/sairam1.jpg" style="width:300px;height:400px;">
      <h3>Sairam Portrait 2 </h3>
      <img src="/static/images/sairam2.jpg" style="width:300px;height:400px;">
      <h3>Sairam Portrait 3 </h3>
      <img src="/static/images/sairam3.jpg" style="width:300px;height:400px;">
      <h3>Sairam Portrait 4 </h3>
      <img src="/static/images/sairam4.jpg" style="width:300px;height:400px;">
      <h3>Sairam Portrait </h3>
      <img src="/static/images/sairam_main.jpg" style="width:400px;height:400px;">

</body>
<footer>
   <p>{{timestamp}}</p>
</footer>
</html>